.container{
    padding: 30px;
}
h1{
   
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
}
.radio1{
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 10px;
    font-size: 25px;
    cursor: pointer;
}
.radio1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radios{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background: #ddd;
    border-radius: 50px;
}
.radio1:hover input ~.radios{
    background-color: #a1a1a1;
}
.radio1 input:checked ~.radios{
    background-color: #2D846E;
}
.radios::after{
    content: "";
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50px;
    position: absolute;
    display: none;
}
.radio1 input:checked ~.radios::after{
    display: block;
}


h2{
    text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
   margin-top: 30px;
}

/* .checkbox1{
    position: relative;
    display: block;
    padding-left: 36px;
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
}
.checkbox1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.spanCheck{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #ddd;
}
.checkbox1:hover input ~.spanCheck{
    background-color: #ccc;
}
.checkbox1 input:checked ~ .spanCheck{
    background-color: #2D846E;
}
.spanCheck::after{
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
}
.checkbox1 input:checked ~.spanCheck::after{
    display: block;
} */

.checkbox1{
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 24px;
}
  .checkbox1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }