.container{
    padding: 30px;
}
.radio1{
    display: block;
    position: relative;
    padding-left: 36px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 24px;
}
.radio1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radios{
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ddd;
    border-radius: 50%;
}
.radios:hover{
    background-color: #a1a1a1;
}
.radios{
    background-color: #2D846E;
}